extends layout

block title
 title= "template"

block css-plugins
 link(rel="stylesheet", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css") 
 link(rel="stylesheet", href="style/board.css")

block js-plugins
 script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
 script.
  currentPlayer = "#{currentPlayer}"
 script(src="js/Zone.js")
 script(src="js/Card.js")  
 script(src="js/game.js")

block content
 #mojlife
 #mojpoison