extends layout

block title
 title= "template"

block css-plugins

block js-plugins
 link(rel="stylesheet", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css")
 script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
 script(src="js/login.js")

block content
 if username != null
  | Already logged in.
  #yeyeye
 else
  #Logovanje
   input(type="text", id="user")
   input(type="password", id="pass")
   input(type="submit", value="Login", id="login")

  